.btn-add-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: grey;
    border: 1px solid grey;
    margin: 2px;
}

h3, .h3, h2, .h2, h1, .h1 {
    font-family: "Helvetica Neue Cyr Medium";
}

.serial-title {
    font-weight: bold;
    text-shadow: 0 6px 10px rgb(34 60 80 / 28%);
}

.details th {
    text-align: left;
    padding: 0px 25px 15px 0px;
}
  
.details td {
    vertical-align: baseline;
}
